:root {
        --iris: #4d5ae5;
        --ocean: #404bbf;
        --navy-blue: #2e2f42;
        --green: #31d0aa;
        --slate: #434455;
        --light-slate: #8e8f99;
        --cornflower: #e7e9fc;
        --cloud: #f4f4fd;
        --navy-blue-modal: rgba(46, 47, 66, 0.4);
        --grey: rgba(46, 47, 66, 0.7);
        --white: #fff;
        --dairy: #fcfcfc;

}
:root {
        --font-family: "Roboto", sans-serif;
        --second-family: "Raleway", sans-serif;
}
body {
font-family: var(--font-family);
color: #434455;
background-color: #FFFFFF;
    a {
            text-decoration: none;
        }
    }
    span {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
    }
    .logo {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }
    .nav-list a {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
   }
   .nav-list a:focus {
    color: var(--ocean);
   }
   .nav-list a:hover {
       color: var(--ocean);
   }
   .nav-list .nav-studio:active {
    color: var(--ocean);
    background: var(--ocean);
   }
   .address a {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
        font-style: normal;
   }
   .address a:hover {
        color: var(--ocean);
   }
   .address a:focus {
       color: var(--ocean);
   }
   .header {
        background: var(--navy-blue);
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white);
   }
    .button {
        cursor: pointer;
        background: var(--iris);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: var(--white);
    }
    .button:hover {
        background: var(--ocean);
    }
    .button:focus {
        background: var(--ocean);
    }
    .adv-list {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.02em;
    }
    .adv-descr {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: var(--slate);
    }
    .team {
            font-size: 36px;
            line-height: 111%;
            letter-spacing: 0.02em;
            text-align: center;
    }
    .team {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.02em;
            text-align: center;
    }
    .team-list {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--navy-blue);
    }
    .team-list-prof {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--slate);
    }
    .portfolio {
            font-size: 36px;
            line-height: 111%;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--navy-blue);
    }
    .portfolio-list {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: var(--navy-blue);
    }
    .portfolio-descr {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: var(--slate);
    }